
.icon-print:before { content: '\e800'; } /* '' */
.icon-mail-1:before { content: '\e801'; } /* '' */
.icon-heart-1:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-book:before { content: '\e804'; } /* '' */
.icon-pencil-1:before { content: '\e805'; } /* '' */
.icon-pencil-alt:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-star-1:before { content: '\e808'; } /* '' */
.icon-music-alt:before { content: '\e809'; } /* '' */
.icon-pencil:before { content: '\e80a'; } /* '' */
.icon-note:before { content: '\e80b'; } /* '' */
.icon-print-1:before { content: '\e80c'; } /* '' */
.icon-feather:before { content: '\e80d'; } /* '' */
.icon-bell:before { content: '\e80e'; } /* '' */
.icon-lamp:before { content: '\e80f'; } /* '' */
.icon-lightbulb:before { content: '\e810'; } /* '' */
.icon-star:before { content: '\e811'; } /* '' */
.icon-note-beamed:before { content: '\e812'; } /* '' */
.icon-quaver:before { content: '\e813'; } /* '' */
.icon-music-black:before { content: '\e814'; } /* '' */
.icon-doc-text:before { content: '\e815'; } /* '' */
.icon-newspaper:before { content: '\e816'; } /* '' */
.icon-book-open:before { content: '\e817'; } /* '' */
.icon-pencil-2:before { content: '\e818'; } /* '' */
.icon-video:before { content: '\e819'; } /* '' */
.icon-heart:before { content: '\e81a'; } /* '' */
.icon-mail:before { content: '\e81b'; } /* '' */
.icon-search:before { content: '\e81c'; } /* '' */
.icon-star-empty:before { content: '\e81d'; } /* '' */
.icon-search-1:before { content: '\e81e'; } /* '' */
.icon-docs:before { content: '\e81f'; } /* '' */