 
<dl class="accordion">
<dt><a href="">Prayer for our Pope</a></dt>
<dd>Oremus pro Pontifice nostro </dd>
<dt><a href="">Advent</a></dt>
<dd><ul>
      <li><a href="{{ site.baseurl }}/hymns/conditor.html">Conditor alme siderum</a> / Bright builder of the heav’nly poles,</li>
      <li>Veni, O Sapientia / O come, Thou Wisdom from on high (better known as O come, O come Emmanuel) in two part harmony</li>
      <li>Rorate caeli / Drop down dew, ye heavens, from above</li>
    </ul>
</dd>
<dt><a href="">Christmas</a></dt>
<dd><ul>
      <li>Gaudete / Rejoice (4 parts: SATB)</li>
      <li>Adeste, fideles / O come all ye faithful</li>
      <li>Puer natus / A boy is born in Bethlehem</li>
    </ul>
</dd>
<dt><a href="">Holy Name</a></dt>
<dd><ul>
      <li>Jesu dulcis memoria / Jesus, the very thought of Thee</li>
      <li>Non nobis, Domine / Not unto us, Lord (a round)</li>
      <li>Laudate nomen Domini / Praise the name of the Lord (a round)</li>
    </ul>
</dd>
<dt><a href="">Candlemas</a></dt>
<dd><ul>
      <li>Lumen ad revelationem gentium / A light of revelation to the gentiles</li>
    </ul>
</dd>
<dt><a href="">Lent</a></dt>
<dd><ul>
      <li>Attende Domine / Hear, O Lord</li>
      <li>Parce Domine / Spare, Lord</li>
    </ul>
</dd>
<dt><a href="">Passiontide</a></dt>
<dd><ul>
      <li>Gloria, laus / All glory, laud and honour</li>
      <li>Vexilla Regis / Abroad the regal banners fly</li>
      <li>O Sacred Head sore wounded (just English)</li>
      <li>Ubi caritas / Where love is true</li>
      <li>Pange lingua / Sing, my tongue, the Saviour’s glory</li>
      <li>Stabat Mater / At the Cross her station keeping</li>
      <li>Crux fidelis / Faithful cross (with Pange Lingua, gloriosi Lauream / Sing, my tongue, the glorious battle)</li>
    </ul>
</dd>
<dt><a href="">Easter</a></dt>
<dd><ul>
      <li>Haec dies / This is the day that the Lord hath made</li>
      <li>Jubilate Deo / Rejoice in God (a round by Praetorius)</li>
      <li>O filii et filiae / O sons and daughters</li>
      <li>Alleluia from Lauds of Easter Saturday</li>
      <li>Victimae paschali laudes / To the Paschal Victim and Bring, all ye dear-bought nations</li>
      <li>Salve festa dies / Hail festal day</li>
    </ul>
</dd>
<dt><a href="">Pentecost</a></dt>
<dd><ul>
      <li>Veni Sancte Spiritus / Holy Spirit, Lord of light</li>
      <li>Veni Creator / Come Holy Ghost</li>
    </ul>
</dd>
<dt><a href="">Corpus Christi</a></dt>
<dd><ul>
      <li>Adoro te devote / Godhead here in hiding</li>
      <li>Soul of my Saviour / Anima Christi (text only)</li>
      <li>Sacris solemniis / To the sacred feast</li>
      <li>Sweet Sacrament (English only)</li>
      <li>Ave verum / Hail to Thee, true Body</li>
    </ul>
</dd>
<dt><a href="">Sacred Heart</a></dt>
<dd><ul>
      <li>To Jesus’ Heart (English only)</li>
      <li>Cor Jesu Sacratissimum / Most Sacred Heart of Jesus</li>
    </ul>
</dd>
<dt><a href="">Precious Blood</a></dt>
<dd><ul>
      <li>Glory be to Jesus (English only)</li>
    </ul>
</dd>
<dt><a href="">Christ the King</a></dt>
<dd><ul>
      <li><a href="{{ site.url }}{{ site.baseurl }}/hymns/christusvincit.html">Christus vincit</a> / Christ conquers (chant version from Percy Jones’ Pius X Hymnbook plus a simple 4 part chorus)</li>
      <li>Thee, O Christ (English only)</li>
    </ul>
</dd>
<dt><a href="">All Saints</a></dt>
<dd><ul>
      <li>Iste Confessor / This is the day</li>
      <li>Corda pia inflammantur / Godly hearts are inflamed (hymn in honour of St Francis)</li>
    </ul>
</dd>
<dt><a href="">All Souls</a></dt>
<dd><ul>
      <li>Dies irae / That day of wrath</li>
      <li>Requiem aeternam / Eternal rest</li>
    </ul>
</dd>
<dt><a href="">Marian</a></dt>
<dd><ul>
      <li>Ave Maria / Hail Mary</li>
      <li>Ave Maria / Hail Mary (a round)</li>
      <li>Sub tuum praesidium</li>
      <li>Marian Antiphons - simple roman tone</li>
      <li>Stella Splendens / Bright star on the mountain (2 parts)</li>
      <li>Litany of Loreto</li>
      <li>Ave maris stella / Ave, star of ocean</li>
      <li>Virgo Dei Genitrix / Virgin Mother of God</li>
    </ul>
</dd>
<dt><a href="">For Peace</a></dt>
<dd><ul>
      <li>Dona nobis pacem / Grant us peace (a round)</li>
      <li>Da pacem Domine / Give peace (chant and a round)</li>
    </ul>
</dd>
<dt><a href="">Plus the Te Deum (simple Roman), Missa Orbis Factor, Credo 1 and Benediction</a></dt><dd>Te Deum, Kyrie, Gloria, Sanctus, Agnus Dei, Credo, O Salutaris, Tantum Ergo, Adoremus</dd>
</dl>

