 
<dl class="accordion">
<dt><a href="">Prayer for our Pope</a></dt>
<dd><a href="/hymns/oremus.html">Oremus pro Pontifice nostro</a> </dd>
<dt><a href="">Advent</a></dt>
<dd><ul>
      <li><a href="/hymns/conditor.html">Conditor alme siderum</a> / Bright builder of the heav’nly poles,</li>
      <li><a href="/hymns/veni.html">Veni, O Sapientia / O come, Thou Wisdom from on high</a> (better known as O come, O come Emmanuel) in two part harmony</li>
      <li><a href="/hymns/rorate.html">Rorate caeli / Drop down dew, ye heavens, from above</a></li>
    </ul>
</dd>
<dt><a href="">Christmas</a></dt>
<dd><ul>
	<li><a href="/hymns/gaudete.html">Gaudete / Rejoice</a> (4 parts: SATB)</li>
	<li><a href="/hymns/adeste.html">Adeste, fideles / O come all ye faithful</a></li>
	<li><a href="/hymns/puernatus.html">Puer natus / A boy is born in Bethlehem</a></li>
    </ul>
</dd>
<dt><a href="">Holy Name</a></dt>
<dd><ul>
	<li><a href="/hymns/jesudulcis.html">Jesu dulcis memoria / Jesus, the very thought of Thee</a></li>
	<li><a href="/hymns/nonnobis.html">Non nobis, Domine / Not unto us, Lord (a round)</a></li>
	<li><a href="/hymns/laudate.html">Laudate nomen Domini / Praise the name of the Lord</a> (a round)</li>
    </ul>
</dd>
<dt><a href="">Candlemas</a></dt>
<dd><ul>
	<li><a href="/hymns/lumen.html">Lumen ad revelationem gentium / A light of revelation to the gentiles</a></li>
    </ul>
</dd>
<dt><a href="">Lent</a></dt>
<dd><ul>
	<li><a href="/hymns/attende.html">Attende Domine / Hear, O Lord</a></li>
	<li><a href="/hymns/parce.html">Parce Domine / Spare, Lord</a></li>
    </ul>
</dd>
<dt><a href="">Passiontide</a></dt>
<dd><ul>
	<li><a href="/hymns/glorialaus.html">Gloria, laus / All glory, laud and honour</a></li>
	<li><a href="/hymns/vexilla.html">Vexilla Regis / Abroad the regal banners fly</a></li>
      <li>O Sacred Head sore wounded (just English)</li>
      <li><a href="/hymns/ubicaritas.html">Ubi caritas / Where love is true</a></li>
      <li><a href="/hymns/pangelingua.html">Pange lingua / Sing, my tongue, the Saviour’s glory</a></li>
      <li><a href="/hymns/stabatmater.html">Stabat Mater / At the Cross her station keeping</a></li>
      <li><a href="/hymns/cruxfidelis.html">Crux fidelis / Faithful cross</a> (with Pange Lingua, gloriosi Lauream / Sing, my tongue, the glorious battle)</li>
    </ul>
</dd>
<dt><a href="">Easter</a></dt>
<dd><ul>
	<li><a href="/hymns/haecdies.html">Haec dies / This is the day that the Lord hath made</a></li>
	<li><a href="/hymns/jubilatedeo.html">Jubilate Deo / Rejoice in God</a> (a round attributed to Michael Praetorius)</li>
	<li><a href="/hymns/ofilii.html">O filii et filiae / O sons and daughters</a></li>
      <li>Alleluia from Lauds of Easter Saturday</li>
      <li><a href="/hymns/victimae.html">Victimae paschali laudes / To the Paschal Victim</a> and Bring, all ye dear-bought nations</li>
      <li><a href="/hymns/salvefesta.html">Salve festa dies / Hail festal day</a></li>
    </ul>
</dd>
<dt><a href="">Pentecost</a></dt>
<dd><ul>
	<li><a href="/hymns/venisancte.html">Veni Sancte Spiritus / Holy Spirit, Lord of light</a></li>
	<li><a href="/hymns/venicreator.html">Veni Creator / Come Holy Ghost</a></li>
    </ul>
</dd>
<dt><a href="">Corpus Christi</a></dt>
<dd><ul>
	<li><a href="/hymns/adorote.html">Adoro te devote / Godhead here in hiding</a></li>
      <li>Soul of my Saviour / Anima Christi (text only)</li>
      <li><a href="/hymns/sacris.html">Sacris solemniis / To the sacred feast</a></li>
      <li>Sweet Sacrament (English only)</li>
      <li><a href="/hymns/aveverum.html">Ave verum / Hail to Thee, true Body</a></li>
    </ul>
</dd>
<dt><a href="">Sacred Heart</a></dt>
<dd><ul>
      <li>To Jesus’ Heart (English only)</li>
      <li>Cor Jesu Sacratissimum / Most Sacred Heart of Jesus</li>
    </ul>
</dd>
<dt><a href="">Precious Blood</a></dt>
<dd><ul>
      <li>Glory be to Jesus (English only)</li>
    </ul>
</dd>
<dt><a href="">Christ the King</a></dt>
<dd><ul>
      <li><a href="/hymns/christusvincit.html">Christus vincit</a> / Christ conquers (chant version from Percy Jones’ Pius X Hymnbook plus a simple 4 part chorus)</li>
      <li>Thee, O Christ (English only)</li>
    </ul>
</dd>
<dt><a href="">All Saints</a></dt>
<dd><ul>
      <li>Iste Confessor / This is the day</li>
      <li><a href="/hymns/corda.html">Corda pia inflammantur / Godly hearts are inflamed</a> (hymn in honour of St Francis)</li>
    </ul>
</dd>
<dt><a href="">All Souls</a></dt>
<dd><ul>
	<li><a href="/hymns/diesirae.html">Dies irae / That day of wrath</a></li>
	<li><a href="/hymns/requiem.html">Requiem aeternam / Eternal rest</a></li>
    </ul>
</dd>
<dt><a href="">Marian</a></dt>
<dd><ul>
	<li><a href="/hymns/avemaria.html">Ave Maria / Hail Mary</a></li>
      <li>Ave Maria / Hail Mary (a round)</li>
      <li><a href="/hymns/subtuum.html">Sub tuum praesidium</a></li>
      <li>Marian Antiphons - simple roman tone</li>
      <li><a href="/hymns/stella.html">Stella Splendens / Bright star on the mountain</a> (2 parts)</li>
      <li><a href="/hymns/litany.html">Litany of Loreto</a></li>
      <li><a href="/hymns/avemaris.html">Ave maris stella / Ave, star of ocean</a></li>
      <li><a href="/hymns/virgodei.html">Virgo Dei Genitrix / Virgin Mother of God</a></li>
    </ul>
</dd>
<dt><a href="">For Peace</a></dt>
<dd><ul>
	<li><a href="/hymns/donanobis.html">Dona nobis pacem / Grant us peace</a> (a round)</li>
	<li><a href="/hymns/dapacem.html">Da pacem Domine / Give peace</a> (chant and a round)</li>
    </ul>
</dd>
<dt><a href="">Plus the Te Deum (simple Roman), Missa Orbis Factor, Credo 1 and Benediction</a></dt><dd><ul>
	<li><a href="/hymns/tedeum.html">Te Deum,</a></li>
	<li><a href="/hymns/mass.html">Kyrie, Gloria, Sanctus, Agnus Dei,</a></li>
	<li><a href="/hymns/credo.html">Credo,</a></li>
	<li><a href="/hymns/osalutaris.html">O Salutaris,</a></li> 
	<li><a href="/hymns/tantumergo.html">Tantum Ergo,</a></li> 
	<li><a href="/hymns/adoremus.html">Adoremus</a></li>
</ul>
</dd>
</dl>

