<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
{% if page.img %}
<img src="{{ site.url }}{{ site.baseurl }}/img/{{ page.img }}">
{% endif %}
  <div class="post-content">

	  <ul>
	  {% if page.sheet %}
	  <li><a href="{{ site.baseurl }}/excerpts/{{ page.sheet }}"><i class="icon-doc-text"></i> excerpt from A New Book of Old Hymns</a> (pdf)</li>
	  {% endif %}
	  {% if page.video %}
	  <li><a href="{{ page.video }}"><i class="icon-youtube-play"></i> video</a> (external link)</li>
	  {% endif %}
	  {% if page.crossword %}
	  <li><a href="{{ site.baseurl }}/crosswords/{{ page.crossword }}"><i class="icon-puzzle-o"></i> Crossword Puzzle (pdf)</a> plus a shorter web <a href="{{ site.baseurl }}/crosswords/{{ page.crossword | replace: "pdf", "html" }}"><i class="icon-edit"></i> Online Crossword Puzzle (html)</a> </li>
	  {% endif %}
	  {% if page.quizlet %}
	  <li><a href="{{ page.quizlet }}"><i class="icon-lightbulb"></i> Quizlet set (external link)</a></li>
	  {% endif %}
	  {% if page.spotify %}
	  <li><a href="https://open.spotify.com/playlist/{{ page.spotify }}"><i class="icon-spotify"></i> Spotify playlist (external link)</a></li>
          {% endif %}
	  {% if page.podcast %}
	  <li><a href="{{ page.podcast }}"><i class="icon-headphones"></i> mp3</a></li>
	  {% endif %}
	  {% if page.memrise %}
	  <li><a href="{{ page.memrise }}"><b>M</b> Memrise course</a></li>
	  {% endif %}
	  </ul>

    {{ content }}

    {% if page.spotify %}
    <iframe src="https://open.spotify.com/embed/playlist/{{ page.spotify }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    {% endif %}

  </div>

  {% include comments.html %}

</article>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
